.contacts {
  &__content {
    @include on-tablet {
      display: flex;
      gap: 24px;
    }

    @include on-desktop {
      gap: 200px;
    }
  }

  &__form {
    width: 280px;
    margin-bottom: 48px;

    @include on-desktop {
      width: 410px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-align: left;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    margin: 0;
    color: rgba(255, 255, 255, 1);
  }

  &__phone,
  &__email,
  &__address {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;

    &:hover {
      color: rgba(126, 126, 131, 1);
    }
  }
}
