.top-bar {
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, $transition-transform-speed);

    @include on-tablet {
      height: 56px;
    }
  }

  &__logo-height {
    @include on-tablet {
      height: 38px;
    }

    @include on-desktop {
      height: 56px;
    }
  }
}
