$tablet-min-width: 567px;
$desktop-min-width: 1024px;
$page-background-color: #1d1d1d;
$maim-text-color: #fff;
$main-font-size: 16px;
$aside-bg-color: #c2c2c2;
$aside-link-color: #1d1d1d;
$icons-transition-transform-time: 0.3s;
$menu-transition-transform-time: 0.3s;
$nav-transition-transform-time: 0.3s;
$transition-transform-function: ease-in-out;
$details-button-color: #1d1d1d;
$transition-transform-speed: scale(1.05);
